{% extends 'base.html' %}
{% load static %}


{% block content %}
    <h1 align="center"><i>{{ full_name }}</i>'s profile</h1>
    {% for photo in photos %}
        <div align="center">
            <!--{{ photo.photo_location }}<br>-->
            <img src="{% static 'photo.photo_location' %}" alt="Your image">
            <br><br>
            {% if same_user %}
                <a href="{% url 'users:delete-photo' user.username photo.id %}">Delete</a>
                <br><br>
            {% endif %}
        </div>
        <br><br>
    {% endfor %}
{% endblock %}
